body{
	padding:2em 5em;
	font-family:'Arial';
	font-size:13px;
}
h1,h2,h3,h4{
	font-weight:bold;
}
h1{
	font-size:135%;
}
h4{
	font-size:105%;
	margin:1em 0 .5em;
	padding:0;
	opacity:.4;
}
a{
	color:rgb(50,30,100);
	text-decoration:none;
	border-bottom:1px dotted #666;
}
a:hover{
	border-style-bottom:solid;
}
ul,ul li{
	margin:0;
	padding:0;
	padding-left:1em;
}
ul li{
	list-style-type:none;
}
div.server{
	background-color:rgba(0,0,0,.02);
	padding:1em;
	margin-bottom:1em;
}
pre{
	padding:0;
	margin:0;
}